.item {
    position: relative;
    background-color: #fff;
    padding: 9px 20px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;

    &__done {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        border: 1px solid #cae962;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;


        &-active {
            width: 12px;
            height: 12px;
            background-color: #cae962;
            border-radius: 50px;

        }
    }

    &__title {
        margin: 0;
        font-weight: 400;
    }

    &__delete {
        position: absolute;
        right: 20px;
        color: #e73d3d;
        transition: 0.2s;
        transform: scale(1.4);

        &:hover {
            transition: 0.2s;
            transform: scale(1.9);
        }
    }
}